In [39]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [40]:
#importing the dataset
dataset = pd.read_csv("credit_data.csv")
dataset

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad
...,...,...,...,...,...,...,...,...,...,...,...
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment,good
996,996,40,male,3,own,little,little,3857,30,car,good
997,997,38,male,2,own,little,NaN,804,12,radio/TV,good
998,998,23,male,2,free,little,little,1845,45,radio/TV,bad
999,999,27,male,2,own,moderate,moderate,4576,45,car,good

In [85]:
#creating matrix of features
X = dataset.iloc[:,:-1].values

In [86]:
#creating dependent variable vector
y = dataset.iloc[:, -1].values

In [87]:
#taking care of missing values
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
imputer.fit(X[:,4:7])
X[:,4:7] = imputer.transform(X[:,4:7])

In [88]:
print(X[:11, 4:7])

[['own' 'little' 'little']
 ['own' 'little' 'moderate']
 ['own' 'little' 'little']
 ['free' 'little' 'little']
 ['free' 'little' 'little']
 ['free' 'little' 'little']
 ['own' 'quite rich' 'little']
 ['rent' 'little' 'moderate']
 ['own' 'rich' 'little']
 ['own' 'little' 'moderate']
 ['rent' 'little' 'moderate']]

In [89]:
#One-hot encoding: transforming categorical features for ML algorithms
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [90]:
print(X)

[[0 67 'male' ... 1169 6 'radio/TV']
 [1 22 'female' ... 5951 48 'radio/TV']
 [2 49 'male' ... 2096 12 'education']
 ...
 [997 38 'male' ... 804 12 'radio/TV']
 [998 23 'male' ... 1845 45 'radio/TV']
 [999 27 'male' ... 4576 45 'car']]

In [91]:
#Here I realized that the first column for id was not necessary
X = np.delete(X, 0, axis = 1)
print(X)

[[67 'male' 2 ... 1169 6 'radio/TV']
 [22 'female' 2 ... 5951 48 'radio/TV']
 [49 'male' 1 ... 2096 12 'education']
 ...
 [38 'male' 2 ... 804 12 'radio/TV']
 [23 'male' 2 ... 1845 45 'radio/TV']
 [27 'male' 2 ... 4576 45 'car']]

In [92]:
print(X[:1, :])

[[67 'male' 2 'own' 'little' 'little' 1169 6 'radio/TV']]

In [94]:
categorical_indexes = [1, 3, 4, 5, 8]

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), categorical_indexes)], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [107]:
print(X[:1, :])

[[0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
  0.0 0.0 67 2 1169 6]]

In [99]:
#Encoding the dependent value
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y) #1 = good, 0 = bad

In [100]:
print(y)

[1 0 1 1 0 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1
 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 0 1 1 0 1 1 0 0 1 1 1 1 0 1 1 1 1 1
 0 1 0 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1
 1 1 0 1 1 0 1 0 1 0 1 1 1 0 1 1 0 1 0 1 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 1 0 1 0 0 1 1 1 1 0 0 0 1 0
 1 0 1 0 1 0 0 0 1 0 0 1 0 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1
 1 1 1 1 0 0 0 1 0 1 1 1 1 0 0 0 1 1 0 1 0 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1
 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 0
 1 1 1 1 1 0 0 1 0 1 1 0 0 1 1 1 1 0 1 0 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 0 0
 0 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 0 1 0 1 0 1 0 1 1 1 1 0 1 1 1 0 1
 1 1 1 1 0 0 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 0 1
 1 1 0 1 1 0 1 0 1 0 1 1 0 1 1 1 1 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 1 1 1 0
 0 1 0 1 1 0 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 0 0 0 1 0 0 1 1 1 1 1
 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 0 1 1 1 0 1 1 0 0 0 1 0 1 1 0 1 1 1 1 1 1 0
 1 1 1 0 0 1 1 1 1 1 0 1 1 0 1 1 1 0 1 1 0 1 0 1 0 0 1 0 1 1 0 1 1 1 0 1 1
 0 0 0 0 0 1 0 1 0 1 1 0 1 1 0 0 1 1 1 1 1 1 1 0 1 0 1 1 0 1 0 1 1 0 0 1 1
 1 0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 0 0 1 1 0 1 1 1 0 1 1 0 0 1 0 1 1 0 1
 1 1 0 1 0 0 1 1 1 1 0 0 1 0 1 1 0 1 0 0 0 1 0 0 0 1 1 0 1 1 1 1 0 1 1 1 1
 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1
 1 1 1 0 0 1 1 1 0 1 1 0 1 1 1 1 1 0 0 0 1 0 1 1 0 0 1 1 0 1 1 1 1 0 1 1 0
 1 1 1 1 1 1 1 0 1 1 1 0 1 1 0 0 1 0 1 0 1 0 1 0 1 1 0 1 1 1 1 0 1 1 1 0 1
 1 1 1 0 1 1 0 1 1 1 1 0 0 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 0 0
 0 1 1 1 1 0 1 1 0 1 1 1 0 0 0 1 1 0 0 1 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 0 0
 1 1 0 1 1 1 1 0 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 0
 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 1 0 0 0 1 1 0 1 0
 0 1 0 1 1 1 0 1 1 1 0 0 1 0 1 1 1 1 1 1 1 0 1 0 0 1 0 0 0 1 1 1 1 0 1 1 1
 1 0 1 1 0 1 1 1 1 1 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0
 1]

In [104]:
#splitting data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=1)

In [108]:
#feature scalling the matrix of features
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 20:] = sc.fit_transform(X_train[:, 20:])
X_test[:, 20:] = sc.transform(X_test[:, 20:])

In [110]:
print(X_train[:, :])

[[1.0 0.0 0.0 ... 0.12858226985113047 -0.6977249731610197
  0.09776381333725007]
 [0.0 1.0 0.0 ... 0.12858226985113047 -0.29775187759266386
  -0.7542084161812684]
 [1.0 0.0 0.0 ... 1.6638929546407482 -0.10517223898567776
  0.01256659038539822]
 ...
 [1.0 0.0 0.0 ... -1.406728414938487 0.1372685443263066
  -0.4986167473257129]
 [0.0 1.0 0.0 ... 1.6638929546407482 -0.5026161460545047
  0.26815825924095377]
 [0.0 1.0 0.0 ... 0.12858226985113047 -0.40253254400171823
  -0.2430250784701573]]

In [111]:
print(X_test[:, :])

[[0.0 1.0 0.0 ... 1.6638929546407482 1.313702509250034
  -0.4986167473257129]
 [0.0 1.0 0.0 ... 1.6638929546407482 4.568045482858147 1.290524934663176]
 [0.0 1.0 0.0 ... 0.12858226985113047 -0.16442751240321196
  -0.7542084161812684]
 ...
 [1.0 0.0 0.0 ... 0.12858226985113047 -0.8014217016417045
  -0.7542084161812684]
 [0.0 1.0 0.0 ... 0.12858226985113047 -0.42023686349842054
  -0.2430250784701573]
 [0.0 1.0 0.0 ... 0.12858226985113047 -0.6467798905276518
  -0.7542084161812684]]